<!doctype html>
<html class="no-js" lang="ja">

<head>
  <meta charset="utf-8">
  <title>まつぶら弁当 | 松原市のテイクアウト対応可のお店をまとめていきます</title>
  <meta name="description" content="まつぶらのテイクアウト特集です。松原市の">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- start: ブラウザの種類によるデフォルトのスタイルを調整するcss -->
  <link rel="stylesheet" href="css/reboot.css">
  <!-- end: ブラウザの種類によるデフォルトのスタイルを調整するcss -->

  <link rel="stylesheet" href="css/main.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <div class='body__inner'>
    <header class="header">
      <div class="header__inner">
        <a class="logo" href="/matsubura-take-out">
          <img class="logo__image" src="img/matsubura-bento-logo.png" />
        </a>
      </div><!-- /.header__inner -->
    </header><!-- /.header -->


    <main class="content" id="app">
      <div class="content__inner">
        <div class="main-visual">
          <div class="main-visual__inner">
            <div class="search-box">
              <div class="search-box__inner">
                <input v-model="query" class="search-box__input" placeholder="ハンバーグ、からあげなどを入力" />
              </div>
            </div>

            <div class="station-radio-box">
              <div class="station-radio-box__inner">
                <div class="station-radio-box__input-groups">
                  <div class="station-radio-box__input-group">
                    <input v-model="checkedStation" id="kawatimatsubara" type="radio" name="station" value="kawatimatsubara" class="station-radio-box__input-group__input" />
                    <label for="kawatimatsubara" class="station-radio-box__input-group__label">河内松原</label>
                  </div>
                  <div class="station-radio-box__input-group">
                    <input v-model="checkedStation" id="nunose" type="radio" name="station" value="nunose" class="station-radio-box__input-group__input" />
                    <label for="nunose" class="station-radio-box__input-group__label">布忍</label>
                  </div>
                  <div class="station-radio-box__input-group">
                    <input v-model="checkedStation" id="takaminosato" type="radio" name="station" value="takaminosato" class="station-radio-box__input-group__input" />
                    <label for="takaminosato" class="station-radio-box__input-group__label">高見の里</label>
                  </div>
                  <div class="station-radio-box__input-group">
                    <input v-model="checkedStation" id="kawatiamami" type="radio" name="station" value="kawatiamami" class="station-radio-box__input-group__input" />
                    <label for="kawatiamami" class="station-radio-box__input-group__label">河内天美</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="restaurant-list">
          <div class="restaurant-list__inner">
            <div class="restrant-cards">
              <div class="restaurant-card">
                <div class="restaurant-card__header">
                  <div class="restaurant-card__figure">
                    <img class="restaurant-card__image" src="" />
                  </div>
                </div>

          {{ checkedStation }}
          {{ query }}
                <div class="restaurant-card__body">
                  <h3 class="restaurant-card__title">
                    Hoge
                  </h3>
                  <p class="restaurant-card__copy">あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。またそのなかでいっしょになったたくさんのひとたち、ファゼーロとロザーロ</p>
                </div>
                <div class="restaurant-card__footer">
                  <div class="restaurant-card__actions">
                    <a href="#" class="button">電話する</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.content__inner -->
    </main><!-- /.content -->

    <footer class="footer">
      <div class="footer__inner">
        <!-- ナビゲーション -->
        <nav class="footer-nav">
          <ul class="footer-nav__list">
            <li class="footer-nav__item">
              <a href="#" class="footer-nav__link">トップ</a>
            </li>
            <li class="footer-nav__item">
              <a href="#" class="footer-nav__link">プライバシーポリシー</a>
            </li>
            <li class="footer-nav__item">
              <a href="#" class="footer-nav__link">お問い合わせ</a>
            </li>
            <li class="footer-nav__item">
              <a href="#" class="footer-nav__link">運営会社</a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>
  </div>

  <script src="js/main.js"></script>
</body>

</html>